@import url("https://fonts.googleapis.com/css2?family=Alkatra:wght@400..700&family=Fjalla+One&family=Heebo:wght@100..900&family=Poiret+One&family=Secular+One&family=Sora:wght@100..800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Sora;
}

#content.enter {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, sans-serif;
  font-size: 25px;
}

#content.enter #title {
  font-weight: bold;
  font-size: 35px;
  text-align: center;
  margin-bottom: 30px;
}

#content.enter .form {
  background: white;
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  border: 2px solid;
  width: 520px;
}

#content.enter .form-part {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 5px;
}

#content.enter.form-part label {
  /* font-weight: bold; */
  font-size: 25px;
}

#content.enter input {
  padding: 5px;
  font-size: 25px;
  font-weight: 500;
}

#content.enter #submit {
  background-color: rgb(186, 244, 240);
  padding: 5px;
  margin: 5px;
  font-size: 25px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.431);
}
#content.enter #submit1 {
  background-color: rgb(186, 244, 240);
  padding: 5px;
  margin: 5px;
  font-size: 25px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.431);
}

#content.enter #reset {
  background-color: rgb(117, 239, 231);
  padding: 5px;
  margin: 5px;
  font-size: 25px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.431);
}
#content.enter #reset1 {
  background-color: rgb(117, 239, 231);
  padding: 5px;
  margin: 5px;
  font-size: 25px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.431);
}

#content.enter #account {
  text-align: center;
  font-size: 25px;
}
#content.enter a {
  text-decoration: underline blue;
  color: blue;
}

img {
    width: 50px;
    height: 50px;
}

.deleteButton {
    font-size: 20px;
    padding: 10px;
}